<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
		<title>荷蘭園巡禮</title>

		<!-- Meta -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<!-- CSS Global Compulsory-->
		<link rel="stylesheet" href="__HOME_PUBLIC__plugins/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="__HOME_PUBLIC__css/style.css" />
		<link rel="stylesheet" href="__HOME_PUBLIC__css/headers/header1.css" />
		<link rel="stylesheet" href="__HOME_PUBLIC__plugins/bootstrap/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="__HOME_PUBLIC__css/style_responsive.css" />
		<link rel="stylesheet" href="__HOME_PUBLIC__css/iconfont.css" />
		<link rel="shortcut icon" href="https://www.hollandshow.cn/favicon2020.ico" />
		<!-- CSS Implementing Plugins -->
		<link rel="stylesheet" href="__HOME_PUBLIC__plugins/revolution_slider/css/rs-style.css" media="screen" />
		<link rel="stylesheet" href="__HOME_PUBLIC__plugins/revolution_slider/rs-plugin/css/settings.css" media="screen" />
		<link rel="stylesheet" href="__HOME_PUBLIC__plugins/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="__HOME_PUBLIC__plugins/flexslider/flexslider.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="__HOME_PUBLIC__plugins/parallax-slider/css/parallax-slider.css" type="text/css" />
		<link rel="stylesheet" href="__HOME_PUBLIC__plugins/bxslider/jquery.bxslider.css" />
		<link rel="stylesheet" href="__HOME_PUBLIC__plugins/swiper/swiper-4.4.1.min.css" />
		<link rel="stylesheet" href="__HOME_PUBLIC__plugins/portfolioSorting/css/sorting.css" />
		<!-- CSS Theme -->
		<link rel="stylesheet" href="__HOME_PUBLIC__css/themes/default.css" id="style_color" />
		<link rel="stylesheet" href="http://api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.css"/>
<!--		<meta name="viewport" id="viewport" http-equiv="Content-Type" content="initial-scale=1.0;minimum-scale=1.0;maximum-scale=1.0;text/html; charset=utf-8" />-->
		<meta name="viewport" id="viewport" http-equiv="Content-Type" content="initial-scale=1.0,width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,text/html,charset=utf-8"/>
	</head>

	<body>

	<script type="text/javascript">

		/*function mbar(sobj) {
			var docurl =sobj.options[sobj.selectedIndex].value;
			if (docurl != "") {
				open(docurl,'_self');
				sobj.selectedIndex=1;
				sobj.blur();
			}
		}
*/
	</script>

	<div class="fiexd_code">
			<!-- <img src="__HOME_PUBLIC__img/code.png"> -->
		</div>
		<!--=== Style Switcher ===-->
		<!-- <i class="style-switcher-btn icon-cogs"></i>
    <div class="style-switcher">
        <div class="theme-close">
            <i class="icon-remove"></i>
        </div>
        <div class="theme-heading">Theme Colors</div>
        <ul class="unstyled">
            <li class="theme-default theme-active" data-style="default" data-header="light"></li>
            <li class="theme-blue" data-style="blue" data-header="light"></li>
            <li class="theme-orange" data-style="orange" data-header="light"></li>
            <li class="theme-red" data-style="red" data-header="light"></li>
            <li class="theme-light" data-style="light" data-header="light"></li>
        </ul>
    </div> -->
		<!--/style-switcher-->
		<!--=== End Style Switcher ===-->

		<!--=== Top ===-->
		<div class="top">
			<!-- <div class="container">
            <ul class="loginbar pull-right">
                <li>
                    <i class="icon-globe"></i>
                    <a>語言
                        <i class="icon-sort-up"></i>
                    </a>
                    <ul class="nav-list">
                        <li class="active">
                            <a href="#">繁體</a>
                            <i class="icon-ok"></i>
                        </li>
                        <li>
                            <a href="#">簡體</a>
                        </li>

                    </ul>
                </li>
                <li class="devider">&nbsp;</li>
                <li>
                    <a href="page_faq.html" class="login-btn">幫助</a>
                </li>
                <li class="devider">&nbsp;</li>
                <li>
                    <a href="page_login.html" class="login-btn">登錄</a>
                </li>
            </ul>
        </div> -->
		</div>
		<!--/top-->
		<!--=== End Top ===-->

		<!--=== Header ===-->
		<div class="header">
			<div class="container">
				<!-- Logo -->
				<div class="logo">
					<a href="{:U('Index/index')}">
						<img id="logo-header" src="__HOME_PUBLIC__img/logo1-default.png" alt="Logo" />
					</a>
				</div>
				<!-- /logo -->

				<!-- Menu -->

				<div class="navbar">
					<div class="navbar-inner">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<!-- /nav-collapse -->
						<div class="nav-collapse collapse">
							<ul class="nav top-2">
								<li <if condition="$Method eq 'Index'">class="active"</if>>
									<a href="{:U('Index/index')}" class="dropdown-toggle" data-toggle="">首頁
									</a>
								</li>
								<li <if condition="$Method eq 'Active'">class="active"</if>>
									<a href="{:U('Active/index')}" class="dropdown-toggle" data-toggle="">巡禮活動
									</a>
									<b class="caret-out"></b>
								</li>
								<!-- <li <if condition="$Method eq 'Active'">class="active"</if>>
							    <a href="{:U('Active/index')}" class="dropdown-toggle" data-toggle="">活動花絮
							    </a>
							    <b class="caret-out"></b>
							</li> -->
								<li <if condition="$Method eq 'News'">class="active"</if>>
									<a href="{:U('News/index')}" class="dropdown-toggle" data-toggle="">新聞資訊
									</a>

									<b class="caret-out"></b>
								</li>
								<li <if condition="$Method eq 'StreetHistory'">class="active"</if>>
									<a href="{:U('StreetHistory/index')}" class="dropdown-toggle" data-toggle="">街道故事
									</a>

									<b class="caret-out"></b>
								</li>
								<li <if condition="$Method eq 'Posts'">class="active"</if>>
									<a href="{:U('Posts/index')}" class="dropdown-toggle" data-toggle="">特色景點
									</a>

									<b class="caret-out"></b>
								</li>
								<li <if condition="$Method eq 'Shop'">class="active"</if>>
									<a href="{:U('Shop/index')}" class="dropdown-toggle" data-toggle="">社區美食
									</a>
									<!-- <ul class="dropdown-menu">
                                    <li><a href="{:U('Shop/index',array('type'=>'craft'))}">手工技藝</a></li>
                                    <li><a href="{:U('Shop/index',array('type'=>'create'))}">新興文創</a></li>
                                    <li><a href="{:U('Shop/index',array('type'=>'cate'))}">特色飲食</a></li>
                                    <li><a href="{:U('Shop/index',array('type'=>'antique'))}">古玩收藏</a></li>
                                    <li><a href="{:U('Shop/index',array('type'=>'dress'))}">精品服飾</a></li>
                                    <li><a href="{:U('Shop/index',array('type'=>'other'))}">其他店鋪</a></li>
                                </ul> -->
									<!-- <b class="caret-out"></b> -->
								</li>
								<li style="margin-right: 20px"><a class="search"><i class="icon-search search-btn"></i></a></li>
								<li class="selectbox" style="margin-left: 10px">
									<div class="select">
											<select id="selectbox2" onchange="window.location.href=options[selectedIndex].value">
												<option id="sb1" style="display:none;" value="" >2020荷蘭園巡禮</option>
												<option id="sb2" value="">2020荷蘭園巡禮</option>
												<option id="sb3" value="" >2021荷蘭園巡禮</option>

											</select>
									</div>
								</li>
							</ul>
							<div class="search-open">
								<div class="input-append">
									<form action="{:U('Search/index')}" method="get">

										<input type="text" name="keyword" class="span3" placeholder="Search" />
										<button type="submit" class="btn-u">Go</button>
									</form>
								</div>
							</div>


						</div>
						<!-- /nav-collapse -->
					</div>
					<!-- /navbar-inner -->

				</div>
				<!-- /navbar -->
			</div>
			<!-- /container -->
		</div>
		<!--/header -->
<script>
var hp = window.location.protocol;
			var yu=document.domain;
			document.getElementById("sb1").value=hp+"//"+yu+"/2020/index.php/Index/index.html";
			document.getElementById("sb2").value=hp+"//"+yu+"/index.php/Index/index.html";
			document.getElementById("sb3").value=hp+"//"+yu+"/2021/index.php/Index/index.html";
</script>